!!! colors
#include ".xcolors/gruvbox"
! #include ".xcolors/gruvbox"

!
!!! fonts
!
!*faceName: DejaVu\ Sans\ Mono\ for\ Powerline
*faceName: Meslo\ LG\ L\ DZ\ for\ Powerline
*faceSize: 10

!!! term
!*loginShell: true
*saveLines: 5000
*scrollBar: false
XTerm*termName: xterm-256color
