!!! colors
#include ".xcolors/gruvbox"
! #include ".xcolors/solarized"

!
!!! fonts
!
!*faceName: DejaVu\ Sans\ Mono\ for\ Powerline
#include ".Xres_fonts_local"

!!! term
!*loginShell: true
*saveLines: 5000
*scrollBar: false
UXTerm*termName: xterm-256color
