/* Base */

* {
    font-family: "Meslo LG L DZ for Powerline" !important;
}

*:not(a),body,td,tr,p {
    background-color: #32302f !important;
    background-size: 0,0 !important;
    color: #ebdbb2 !important;
}

h1,h2,h3,h4 {
    background-color: #32302f !important;
    color: #bdae93 !important
}

button {
    background-size: auto !important;
    background-color: #504945 !important;
    color: #ebdbb2 !important
}

a {
    color: #458588 !important;
    background-color: #32302f !important
}
a:hover,a:focus {
    color: #458588 !important
}
a:visited {
    color: #458588 !important
}

img {
    opacity: .5;
}
img:hover {
    opacity: 1;
}

/* :::::: Hints Coloring :::::: */

._hintLabel {
    -webkit-transform:translate(px,-2px) !important;
    position: absolute !important;
    z-index: 100000 !important;
    color: #ebdbb2 !important;
    font:bold .8em monospace !important;
    background-color: #fe8019 !important;
    margin: 0 !important;
    padding: 1px 1px !important;
    border: 0px solid !important;
    opacity: 1 !important
}
._hintLabel._hintFocus {
    z-index: 100001 !important;
    opacity: 1 !important
}
